@import './tailwind.css';

:root {
  --page-height: calc(100dvh - 60px);
}

body {
  font-family: 'Inter', 'sans-serif';
  color: #262626;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.3s ease;
  overflow: hidden;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  max-height: 0;
  opacity: 0;
  transform: translateY(-4px);
}
.slide-fade-enter-to,
.slide-fade-leave-from {
  max-height: 100px;
  opacity: 1;
  transform: translateY(0);
}
